name: Build, lint and test

on:
  workflow_call:
    inputs:
      skip-codeql:
        type: boolean
        description: "Skip CodeQL checks"
        required: false
        default: false
      artifact-path:
        type: string
        description: "An optional file, directory or wildcard pattern that describes what to upload"
      artifact-name:
        type: string
        description: "An optional artifact name"
        default: "artifact"

permissions:
  actions: read
  contents: read
  security-events: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Unlock dependencies
        uses: cloudscape-design/.github/.github/actions/unlock-dependencies@main
      - run: npm i --force
      - run: npm run lint
      - run: npm run build
      - run: npm run test
        if: ${{ github.repository != 'cloudscape-design/components' }}
      - run: npm run test:unit
        if: ${{ github.repository == 'cloudscape-design/components' }}
      - name: Upload Artifacts
        if: ${{ inputs.artifact-path != '' }}
        uses: cloudscape-design/.github/.github/actions/upload-artifact@main
        with:
          path: ${{ inputs.artifact-path }}
          name: ${{ inputs.artifact-name }}
      - name: Codecov
        uses: codecov/codecov-action@v3

  codeql:
    if: ${{ inputs.skip-codeql == false }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: javascript
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2
