name: Build, lint and test

on:
  workflow_call:
    inputs:
      skip-codeql:
        type: boolean
        description: 'Skip CodeQL checks'
        required: false
        default: false
      skip-codecov:
        type: boolean
        description: 'Skip code coverage step'
        required: false
        default: false
      artifact-path:
        type: string
        description: 'An optional file, directory or wildcard pattern that describes what to upload'
      artifact-name:
        type: string
        description: 'An optional artifact name'
        default: 'artifact'

permissions:
  actions: read
  contents: read
  security-events: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Unlock dependencies
        uses: ./.github/actions/unlock-dependencies.yml
      - run: npm i --force
      - run: npm run build
      - run: npm run lint
      - run: npm run test
        if: ${{ github.repository != 'cloudscape-design/components' }}
      - run: npm run test:unit
        if: ${{ github.repository == 'cloudscape-design/components' }}
      - name: Upload Artifacts
        if: ${{ inputs.artifact-path != '' }}
        uses: ./.github/actions/upload-artifact.yml
        with:
          path: ${{ inputs.artifact-path }}
          name: ${{ inputs.artifact-name }}
      - name: Codecov
        if: ${{ inputs.skip-codecov == false && always() }}
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true

  codeql:
    if: ${{ inputs.skip-codeql == false }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: javascript
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2
