# This workflow is only for actions repository
name: Build, lint and test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  id-token: write
  actions: read
  contents: read
  security-events: write
  deployments: write

jobs:
  build:
    uses: cloudscape-design/actions/.github/workflows/build-lint-test.yml@always-vr-build
    secrets: inherit
    with:
      skip-codecov: true
      artifact-path: lib
